*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Color-Barra-Navegacion: black;
}

.barra-izquierda-iconos{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #01504d;
    display: inline-block;
    padding: 25px;
    width: 110px;
}

.Icono-casa img{
    width: 70%;
    margin-left: 8px;
    margin-top: 20px;
}

.iconos-sitios-web{
    margin-top: 530px;
}

.iconos-sitios-web img {
    width: 50%;
    margin-bottom: 40px;
    margin-left: 15px;
}

.iconos-sitios-web .icono-youtube{
    margin-left: 13px;
    width: 60%;
}

.contenedor-barra-navegacion{
    margin-left: 90px;
    margin-top: 50px;
}

.contenedor-barra-navegacion .barra-navegacion{
    display: block;
}

.contacto-telefonico{
    display: inline-block;
}

.contenedor-barra-navegacion .barra-navegacion a{
    text-decoration: none;
    color: var(--Color-Barra-Navegacion);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 5px 5px 180px 180px;
    font-weight: 600;
}

.barra-navegacion img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 380px;
    top: 45px;
}

.barra-navegacion .contacto-numero{
    font-size: 25px;
}

.contacto-numero a{
    color: #01504d;
}

.contenedor-columnas{
    position: relative;
    height: 100%;
    background-color: violet;
}


.seccion-medio{
    background-color: grey;
    height: 78%;
    width: 78.5%;
    position: absolute;
    top: 18%;
    left: 14%;

} 

.contenedor-columnas{
    background-color: purple;
    height: 200%;
    position: relative;
    box-shadow: 2px 2px 20px -3px;
}

.columna-izquierda{
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: violet;
}

.columna-derecha{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
}

